[submodule "lec2/task2"]
	path = lec2/task2
	url = https://github.com/Moaz-Morsy/Self_Driving_Cars_Course.git
[submodule "Git/task2"]
	path = Git/task2
	url = https://github.com/Moaz-Morsy/Self_Driving_Cars_Course.git
[submodule "Graduation"]
	path = Graduation
	url = https://github.com/jinfagang/DCNv2_latest
